@import url("https://fonts.googleapis.com/css?family=Oswald");

.content > p {
	font-family: 'Oswald', serif;
	text-align: center;
	font-size: 18px;
	opacity: 0.5;
}

.content > p.lists {
	opacity: 0.5;
}

.content {
	margin-top: 33vh;
	transition:  margin-top 0.3s;
}

.search-box {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: calc(45% + 100px);
	min-width: 260px;
	border: 2px solid #22222222;
	border-radius: 5px;
	padding: 8px;
	transition: border 0.5s;
	font-size: 25px;
	font-family: 'Oswald', serif;
	text-align: center;
	text-transform: uppercase;
}

.search-box:focus {
	border: 2px solid #222;
	outline: none;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: transparent;
	color: black;
	opacity: 0.5;
	font-size: 14px;
	font-family: 'Oswald', serif;
	text-align: center;
}

.search-box::-webkit-input-placeholder {
	opacity: 0.5;
}

.search-box::-moz-placeholder {
	opacity: 0.5;
}

.search-box:-moz-placeholder {
	opacity: 0.5;
}

.search-box:-ms-input-placeholder {
	opacity: 0.5;
}

.search-box:focus::-webkit-input-placeholder {
	opacity: 0;
}

.search-box:focus:-moz-placeholder {
	opacity: 0;
}

.search-box:focus::-moz-placeholder {
	opacity: 0;
}

.search-box:focus:-ms-input-placeholder {
	opacity: 0;
}


